html {
    background-color: #18604B;
    color: #ffffff;
    margin: 50px;
    scroll-behavior: smooth;
    font-family: 'Merriweather', serif;
}

#pixel-art {
    width: 500px;
}

.thin-font {
    font-family: 'Merriweather', serif;
    font-weight: 200;
    font-size: 50px;
    padding-top: 500px;
    text-align: center;
}

.thin-font-1 {
    font-family: 'Merriweather', serif;
    font-weight: 200;
    font-size: 50px;
    padding-top: 250px;
    text-align: center;
}

.thin-font-2 {
    font-family: 'Merriweather', serif;
    font-weight: 200;
    font-size: 50px;
    padding-top: 450px;
    padding-bottom: 5em;
    text-align: center;
}

.thin-font-3 {
    font-family: 'Merriweather', serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 50px;
    padding-bottom: 50px;
}

.thin-font-4 {
    font-family: 'Merriweather', serif;
    font-weight: 200;
    font-size: 50px;
    padding-top: 200px;
    /* padding-bottom: 50px; */
    text-align: center;
}

.thin-font-5 {
    font-family: 'Merriweather', serif;
    font-weight: 200;
    font-size: 15px;
    line-height: 40px;
    padding-bottom: 0px;
}

.angry-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 300px;
    height: 300px;
}

.day4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 1028px;
    height: 604px;
}

/* unvisited link */
a:link {
    color: #ffffff;
    text-decoration: none;
  }
  
/* visited link */
a:visited {
    color: #ffffff;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
}

.column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.box {
    display: flex;
    height: 100px;
    width: 100px;
    background-color: white;
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 8%;
    margin: 15px;
}

.box > a {
    color: #18604B;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.box:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.days {
    padding: 100px;
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    .days {
        padding: 10px;
        font-size: 20px;
    }
    html {
        scroll-behavior: smooth;
        font-family: 'Merriweather', serif;
        font-size: 15px;
    }
    .button {
        padding: 20px 40px;
    }
  }

@media screen and (max-width: 390px) {
    .days {
        padding: 10px;
        font-size: 20px;
    }
    html {
        scroll-behavior: smooth;
        font-family: 'Merriweather', serif;
        font-size: 15px;
    }
    .button {
        padding: 20px 40px;
    }
  }

.button {
    background-color: #ffffff;
    border: none;
    color: #18604B;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
    font-family: 'Merriweather', serif;
    font-weight: 200;
  }

.button-1 {
    margin: 0;
    position: absolute;
    top: 800px;
    left: 50%;
    padding-bottom: 100px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.day-1-video {
    padding-bottom: 50px;
}

.about-image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
    margin-bottom: 30px;
}
  
.about-image-middle{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
    margin-bottom: 0px;
}

.about-image-middle img{
    height: 281px;
    border-radius: 15%;
    border: 5px solid var(--white);
}

.about-image img{
    height: 281px;
    border-radius: 5%;
}

@media (max-width: 500px){
.about-image img{
    height: 150px;
}
.about-image-middle img{
    height: 119px;
}
}
.child > img{
    width: 300px;
}

.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.child{
    display: flex;
    flex: 40%;
    margin: 10px;
    padding: 10px;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 500px){
    .child > img{
        width: 200px;
    }
    .child{
        display: flex;
        flex: 70%;
        margin: 0px;
        padding: 0px;
        align-items: center;
        flex-direction: column;
    }
    .thin-font-5 {
        font-family: 'Merriweather', serif;
        font-weight: 200;
        font-size: 12px;
        line-height: 40px;
        padding-bottom: 0px;
    }
}